log:
  level: info

runner:
  file: .runner
  capacity: 1
  timeout: 3h
  insecure: false
  fetch_timeout: 5s
  fetch_interval: 2s
  labels:
    - "ubuntu-latest:docker://catthehacker/ubuntu:act-latest"
    - "ubuntu-22.04:docker://catthehacker/ubuntu:act-22.04"

cache:
  enabled: true

container:
  network: gitea-network
  privileged: true
  options: -v /var/run/docker.sock:/var/run/docker.sock
  workdir_parent:
  valid_volumes:
    - /var/run/docker.sock
  docker_host: ""
  force_pull: false

host:
  workdir_parent:
